@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  
}

.jebaljombakyura {
  padding: 10px;
  padding-left: 20px;
  border-bottom: solid 1px;
  border-color:  pink;
  background-color: rgb(46, 54, 67);
  color: white;
 
  min-width: 200px;
  @apply
  list-none
  bg-gray-500 text-white 
}

.content {
    margin-left: 50px;
    
}
@media(max-width:800px){
    .sidebar {
        display: block;
    
    }
    .jebaljombakyura{
      display : block;
    }
   
    
    .margin {
        margin-bottom: 60px;
        
        
    }
    
    .content {
      margin-left: 0px;
   }}

/* Account */
.othername {
  border: 1px solid pink;
  border-radius: 20px;
  padding : 30px;
  margin : 10px;
} 

/* Billing */
.billing  {
  border: 1px solid pink;
  border-radius: 10px;
  padding:30px;
  margin : 20px;
}
td {
  padding: 0px 30px 0px 30px;

}

/* History */
.pyo  {
  border: 1px solid pink;
  border-radius: 10px;
  padding:30px;
  margin : 20px;
}

.junche {
  padding-top: 20px;
}

/* Sidebar */
.grid {
  display: flex;
}

.toggle-btn {
  margin: 10px;
  padding: 10px 20px;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.side {
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}

.side:not(.visible) {
  max-height: 0;
}

.side.visible {
  max-height: 1000px; /* Adjust this value as needed to fit the content */
}

.sidebarList {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
}
.selectedMode {
  background-color: lightblue; /* 여기에 색상을 원하는 대로 지정하세요 */
}
.selected {
  background-color: rgb(236, 72, 153); /* 선택된 메뉴의 색깔 지정 */
  color: white; /* 선택된 메뉴의 텍스트 색깔 지정 */
}

