.list-item > h2:hover {
  cursor: pointer;
}
.list-item {
  margin: 10px;
}
.list-item > h2 {
  font-size: 20px;
  font-weight: bold;
}

.image-container a:first-of-type {
  width: 225px;
  display: inline-block;
}

.image-container a:nth-of-type(2) {
  width: 343px;
  display: inline-block;
}
