.profilelist {
    margin : 20px;
    
}
.divbygrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.pic {
    display: none;
   
    
}
.tex {
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
