@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px;
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.15);
}

::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.3);
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}

.page-container {
  @apply min-h-screen relative;
  background-image: linear-gradient(
    to right,
    theme("colors.transparent"),
    theme("colors.white") calc(45% - 512px),
    theme("colors.white") calc(55% + 512px),
    theme("colors.transparent")
  );
}

.content-container {
  @apply max-w-screen-lg mx-auto px-4;
}

.background-image {
  @apply fixed top-0 left-0 w-full h-full z-[-1] bg-cover bg-center opacity-80;
}
